@keyframes fade_in {
  0% {
    display: none;
    opacity: 0;
    height: 0px;
  }
  100% {
    display: flex;
    opacity: 1;
    height: 440px;
  }
}
@keyframes fade_out {
  0% {
    display: flex;
    opacity: 1;
    height: 440px;
  }
  100% {
    display: none;
    opacity: 0;
    height: 0px;
  }
}

@keyframes fade_in_card {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
