@keyframes show {
  0% {
    opacity: 0;
    transform: translatey(0px);
  }
  50% {
    opacity: 1;
    transform: translatey(-20px);
  }
  100% {
    opacity: 0;
    transform: translatey(0px);
  }
}
