@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.calc-firstNumber {
  font-size: 20px;
}
.calc-operator {
  font-size: 20px;
}
.calc-secondNumber {
  font-size: 20px;
}

.calc-output {
  font-size: 28px;
}
